@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #f8f9fd;
}
.navbar {
  top: 0; /* required for sticky */
  z-index: 1000; /* so it stays on top */
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
}

.nav-left {
  flex: 0 0 auto;
}

.logo {
  font-family: "Pacifico", serif;
  font-size: 24px;
  font-weight: 500;
  color: #333;
}

/* Center nav */
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-center li a {
  text-decoration: none;
  font-size: 18px;
  color: #1a1a1a;
  font-family: "Product Sans", sans-serif;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-center li a:hover,
.nav-center li a:focus {
  color: #0050ff;
}

.nav-center li a.active {
  color: #0050ff;
}

/* Right side button */
.nav-right {
  flex: 0 0 auto;
}

.get-started {
  background-color: #0050ff;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.get-started:hover {
  background-color: #003fcc;
}
